Example/StockQuoteServiceClient/Connected Services/QuotesServiceReference/StockQuoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockQuoteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockQuoteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quote" nillable="true" type="tns:Quote" />
</xs:schema>